<!DOCTYPE html>
<head></head>
<body>
    <p>{{{message}}}</p>
    <ul>
    <li><a href="register">Register New Employee</a></li>
    <li><a href="../">Home</a></li>
    <li><a href="logout">Logout</a></li>
    </ul>
</body>
</html>