<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/style.css" />
{{{body}}}
<ul><li><a href="http://localhost:3000/officeadmin/viewemployees">View Employees</a></li>
<li><a href="http://localhost:3000/officeadmin/attendance">Attendance</a></li>
<li><a href="http://localhost:3000/officeadmin/attendance/mark">Mark Attendance</a></li>
<li><a href="http://localhost:3000/officeadmin/register">Register New Employee</a></li>
<li><a href="http://localhost:3000/officeadmin/logout">Logout</a></li>
<li><a href="http://localhost:3000/officeadmin/home">Home</a></li>
</ul>
</html>

