<!DOCTYPE html>
{{{body}}}
<ul><li><a href="viewemployees">View Employees</a></li><li><a href="register">Register New Employee</a></li><li><a href="logout">Logout</a></li><li><a href="home">Home</a></li></ul>
</html>

