<head>
    <title>Choose attendance type</title>
</head>
<body>
    <h3>I want to mark :</h3>
<p><a href="http://localhost:3000/officeadmin/attendance/mark?time=in">In Time</a></p>
<p><a href="http://localhost:3000/officeadmin/attendance/mark?time=out">Out Time</a></p>