body {
  padding: 1%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.capital {
  text-transform: capitalize;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: left;
}

th{
    padding-left: 10px;
    background-color: khaki;
}

td{
    background-color: bisque;
    padding:10px;
    width: 100px;
}