<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/style.css" />
{{{body}}}
<ul><li><a href="/officeadmin/viewemployees">View Employees</a></li>
<li><a href="/officeadmin/attendance">Attendance</a></li>
<li><a href="/officeadmin/attendance/mark">Mark Attendance</a></li>
<li><a href="/officeadmin/attendance/month_view">Attendance Month View</a></li>
<li><a href="/officeadmin/register">Register New Employee</a></li>
<li><a href="/officeadmin/logout">Logout</a></li>
<li><a href="/officeadmin/home">Home</a></li>
</ul>
</html>

